//! **************************************************************************
// Written by: Map P.49d on Wed Jun 24 16:26:52 2015
//! **************************************************************************

SCHEMATIC START;
COMP "DP" LOCATE = SITE "M13" LEVEL 1;
COMP "adcs" LOCATE = SITE "G11" LEVEL 1;
COMP "dacs" LOCATE = SITE "T12" LEVEL 1;
COMP "MemDB<0>" LOCATE = SITE "R13" LEVEL 1;
COMP "MemDB<1>" LOCATE = SITE "T14" LEVEL 1;
COMP "MemDB<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "MemDB<3>" LOCATE = SITE "U5" LEVEL 1;
COMP "MemDB<4>" LOCATE = SITE "V5" LEVEL 1;
COMP "MemDB<5>" LOCATE = SITE "R3" LEVEL 1;
COMP "MemDB<6>" LOCATE = SITE "T3" LEVEL 1;
COMP "MemDB<7>" LOCATE = SITE "R5" LEVEL 1;
COMP "MemDB<8>" LOCATE = SITE "N5" LEVEL 1;
COMP "MemDB<9>" LOCATE = SITE "P6" LEVEL 1;
COMP "MemOE" LOCATE = SITE "L18" LEVEL 1;
COMP "MemWR" LOCATE = SITE "M16" LEVEL 1;
COMP "RamCS" LOCATE = SITE "L15" LEVEL 1;
COMP "RamLB" LOCATE = SITE "K16" LEVEL 1;
COMP "RamUB" LOCATE = SITE "K15" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "Reset" LOCATE = SITE "T10" LEVEL 1;
COMP "adclk" LOCATE = SITE "E11" LEVEL 1;
COMP "daclk" LOCATE = SITE "P11" LEVEL 1;
COMP "clk_I" LOCATE = SITE "V10" LEVEL 1;
COMP "MemDB<10>" LOCATE = SITE "P12" LEVEL 1;
COMP "MemDB<11>" LOCATE = SITE "U13" LEVEL 1;
COMP "MemDB<12>" LOCATE = SITE "V13" LEVEL 1;
COMP "MemDB<13>" LOCATE = SITE "U10" LEVEL 1;
COMP "MemDB<14>" LOCATE = SITE "R8" LEVEL 1;
COMP "MemDB<15>" LOCATE = SITE "T8" LEVEL 1;
COMP "MemAdr<0>" LOCATE = SITE "K18" LEVEL 1;
COMP "MemAdr<1>" LOCATE = SITE "K17" LEVEL 1;
COMP "MemAdr<2>" LOCATE = SITE "J18" LEVEL 1;
COMP "MemAdr<3>" LOCATE = SITE "J16" LEVEL 1;
COMP "MemAdr<4>" LOCATE = SITE "G18" LEVEL 1;
COMP "MemAdr<5>" LOCATE = SITE "G16" LEVEL 1;
COMP "MemAdr<6>" LOCATE = SITE "H16" LEVEL 1;
COMP "MemAdr<7>" LOCATE = SITE "H15" LEVEL 1;
COMP "MemAdr<8>" LOCATE = SITE "H14" LEVEL 1;
COMP "MemAdr<9>" LOCATE = SITE "H13" LEVEL 1;
COMP "addata_l" LOCATE = SITE "F10" LEVEL 1;
COMP "addata_r" LOCATE = SITE "F11" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "Led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "Led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "Led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "Led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "dadata_l" LOCATE = SITE "V12" LEVEL 1;
COMP "dadata_r" LOCATE = SITE "N10" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "B8" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "A8" LEVEL 1;
COMP "btn<2>" LOCATE = SITE "C4" LEVEL 1;
COMP "btn<3>" LOCATE = SITE "C9" LEVEL 1;
COMP "btn<4>" LOCATE = SITE "D9" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "MemAdr<10>" LOCATE = SITE "F18" LEVEL 1;
COMP "MemAdr<11>" LOCATE = SITE "F17" LEVEL 1;
COMP "MemAdr<12>" LOCATE = SITE "K13" LEVEL 1;
COMP "MemAdr<20>" LOCATE = SITE "G14" LEVEL 1;
COMP "MemAdr<13>" LOCATE = SITE "K12" LEVEL 1;
COMP "MemAdr<21>" LOCATE = SITE "F14" LEVEL 1;
COMP "MemAdr<14>" LOCATE = SITE "E18" LEVEL 1;
COMP "MemAdr<22>" LOCATE = SITE "C18" LEVEL 1;
COMP "MemAdr<15>" LOCATE = SITE "E16" LEVEL 1;
COMP "MemAdr<16>" LOCATE = SITE "G13" LEVEL 1;
COMP "MemAdr<17>" LOCATE = SITE "H12" LEVEL 1;
COMP "MemAdr<18>" LOCATE = SITE "D18" LEVEL 1;
COMP "MemAdr<19>" LOCATE = SITE "D17" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "XLXI_2/INT_400" BEL "XLXI_2/INT_48" BEL
        "XLXI_2/INT_COUNT_400_0" BEL "XLXI_2/INT_COUNT_400_1" BEL
        "XLXI_2/INT_COUNT_400_2" BEL "XLXI_2/INT_COUNT_400_3" BEL
        "XLXI_2/INT_COUNT_400_4" BEL "XLXI_2/INT_COUNT_400_5" BEL
        "XLXI_2/INT_COUNT_400_6" BEL "XLXI_2/INT_COUNT_48_0" BEL
        "XLXI_2/INT_COUNT_48_1" BEL "XLXI_2/INT_COUNT_48_2" BEL
        "XLXI_2/INT_COUNT_48_3" BEL "XLXI_2/INT_COUNT_48_4" BEL
        "XLXI_2/INT_COUNT_48_5" BEL "XLXI_2/INT_COUNT_48_6" BEL
        "XLXI_2/INT_COUNT_48_7" BEL "XLXI_2/INT_COUNT_48_8" BEL
        "XLXI_2/INT_COUNT_48_9" BEL "XLXI_2/INT_COUNT_48_10" BEL
        "XLXI_2/INT_COUNT_48_11" BEL "XLXI_6/ADDRESS_I_22" BEL
        "XLXI_6/ADDRESS_I_21" BEL "XLXI_6/ADDRESS_I_20" BEL
        "XLXI_6/ADDRESS_I_19" BEL "XLXI_6/ADDRESS_I_18" BEL
        "XLXI_6/ADDRESS_I_17" BEL "XLXI_6/ADDRESS_I_16" BEL
        "XLXI_6/ADDRESS_I_15" BEL "XLXI_6/ADDRESS_I_14" BEL
        "XLXI_6/ADDRESS_I_13" BEL "XLXI_6/ADDRESS_I_12" BEL
        "XLXI_6/ADDRESS_I_11" BEL "XLXI_6/ADDRESS_I_10" BEL
        "XLXI_6/ADDRESS_I_9" BEL "XLXI_6/ADDRESS_I_8" BEL "XLXI_6/ADDRESS_I_7"
        BEL "XLXI_6/ADDRESS_I_6" BEL "XLXI_6/ADDRESS_I_5" BEL
        "XLXI_6/ADDRESS_I_4" BEL "XLXI_6/ADDRESS_I_3" BEL "XLXI_6/ADDRESS_I_2"
        BEL "XLXI_6/ADDRESS_I_1" BEL "XLXI_6/ADDRESS_I_0" BEL
        "XLXI_6/WCOUNT_R_4" BEL "XLXI_6/WCOUNT_R_3" BEL "XLXI_6/WCOUNT_R_2"
        BEL "XLXI_6/WCOUNT_R_1" BEL "XLXI_6/WCOUNT_R_0" BEL "XLXI_6/WCOUNT_4"
        BEL "XLXI_6/WCOUNT_3" BEL "XLXI_6/WCOUNT_2" BEL "XLXI_6/WCOUNT_1" BEL
        "XLXI_6/WCOUNT_0" BEL "XLXI_6/CURRENT_STATE_FSM_FFd2" BEL
        "XLXI_6/CURRENT_STATE_FSM_FFd3" BEL "XLXI_6/ADDRESS_O_22" BEL
        "XLXI_6/ADDRESS_O_21" BEL "XLXI_6/ADDRESS_O_20" BEL
        "XLXI_6/ADDRESS_O_19" BEL "XLXI_6/ADDRESS_O_18" BEL
        "XLXI_6/ADDRESS_O_17" BEL "XLXI_6/ADDRESS_O_16" BEL
        "XLXI_6/ADDRESS_O_15" BEL "XLXI_6/ADDRESS_O_14" BEL
        "XLXI_6/ADDRESS_O_13" BEL "XLXI_6/ADDRESS_O_12" BEL
        "XLXI_6/ADDRESS_O_11" BEL "XLXI_6/ADDRESS_O_10" BEL
        "XLXI_6/ADDRESS_O_9" BEL "XLXI_6/ADDRESS_O_8" BEL "XLXI_6/ADDRESS_O_7"
        BEL "XLXI_6/ADDRESS_O_6" BEL "XLXI_6/ADDRESS_O_5" BEL
        "XLXI_6/ADDRESS_O_4" BEL "XLXI_6/ADDRESS_O_3" BEL "XLXI_6/ADDRESS_O_2"
        BEL "XLXI_6/ADDRESS_O_1" BEL "XLXI_6/ADDRESS_O_0" BEL
        "XLXI_6/ADDRESS_R_I_22" BEL "XLXI_6/ADDRESS_R_I_21" BEL
        "XLXI_6/ADDRESS_R_I_20" BEL "XLXI_6/ADDRESS_R_I_19" BEL
        "XLXI_6/ADDRESS_R_I_18" BEL "XLXI_6/ADDRESS_R_I_17" BEL
        "XLXI_6/ADDRESS_R_I_16" BEL "XLXI_6/ADDRESS_R_I_15" BEL
        "XLXI_6/ADDRESS_R_I_14" BEL "XLXI_6/ADDRESS_R_I_13" BEL
        "XLXI_6/ADDRESS_R_I_12" BEL "XLXI_6/ADDRESS_R_I_11" BEL
        "XLXI_6/ADDRESS_R_I_10" BEL "XLXI_6/ADDRESS_R_I_9" BEL
        "XLXI_6/ADDRESS_R_I_8" BEL "XLXI_6/ADDRESS_R_I_7" BEL
        "XLXI_6/ADDRESS_R_I_6" BEL "XLXI_6/ADDRESS_R_I_5" BEL
        "XLXI_6/ADDRESS_R_I_4" BEL "XLXI_6/ADDRESS_R_I_3" BEL
        "XLXI_6/ADDRESS_R_I_2" BEL "XLXI_6/ADDRESS_R_I_1" BEL
        "XLXI_6/ADDRESS_R_I_0" BEL "XLXI_6/DATAOR_11" BEL "XLXI_6/DATAOR_10"
        BEL "XLXI_6/DATAOR_9" BEL "XLXI_6/DATAOR_8" BEL "XLXI_6/DATAOR_7" BEL
        "XLXI_6/DATAOR_6" BEL "XLXI_6/DATAOR_5" BEL "XLXI_6/DATAOR_4" BEL
        "XLXI_6/DATAOR_3" BEL "XLXI_6/DATAOR_2" BEL "XLXI_6/DATAOR_1" BEL
        "XLXI_6/DATAOR_0" BEL "XLXI_6/DATAOL_11" BEL "XLXI_6/DATAOL_10" BEL
        "XLXI_6/DATAOL_9" BEL "XLXI_6/DATAOL_8" BEL "XLXI_6/DATAOL_7" BEL
        "XLXI_6/DATAOL_6" BEL "XLXI_6/DATAOL_5" BEL "XLXI_6/DATAOL_4" BEL
        "XLXI_6/DATAOL_3" BEL "XLXI_6/DATAOL_2" BEL "XLXI_6/DATAOL_1" BEL
        "XLXI_6/DATAOL_0" BEL "XLXI_6/I_DATA_O_RAM_15" BEL
        "XLXI_6/I_DATA_O_RAM_14" BEL "XLXI_6/I_DATA_O_RAM_13" BEL
        "XLXI_6/I_DATA_O_RAM_12" BEL "XLXI_6/I_DATA_O_RAM_11" BEL
        "XLXI_6/I_DATA_O_RAM_10" BEL "XLXI_6/I_DATA_O_RAM_9" BEL
        "XLXI_6/I_DATA_O_RAM_8" BEL "XLXI_6/I_DATA_O_RAM_7" BEL
        "XLXI_6/I_DATA_O_RAM_6" BEL "XLXI_6/I_DATA_O_RAM_5" BEL
        "XLXI_6/I_DATA_O_RAM_4" BEL "XLXI_6/I_DATA_O_RAM_3" BEL
        "XLXI_6/I_DATA_O_RAM_2" BEL "XLXI_6/I_DATA_O_RAM_1" BEL
        "XLXI_6/I_DATA_O_RAM_0" BEL "XLXI_6/DATAIR_11" BEL "XLXI_6/DATAIR_10"
        BEL "XLXI_6/DATAIR_9" BEL "XLXI_6/DATAIR_8" BEL "XLXI_6/DATAIR_7" BEL
        "XLXI_6/DATAIR_6" BEL "XLXI_6/DATAIR_5" BEL "XLXI_6/DATAIR_4" BEL
        "XLXI_6/DATAIR_3" BEL "XLXI_6/DATAIR_2" BEL "XLXI_6/DATAIR_1" BEL
        "XLXI_6/DATAIR_0" BEL "XLXI_6/DATAIL_11" BEL "XLXI_6/DATAIL_10" BEL
        "XLXI_6/DATAIL_9" BEL "XLXI_6/DATAIL_8" BEL "XLXI_6/DATAIL_7" BEL
        "XLXI_6/DATAIL_6" BEL "XLXI_6/DATAIL_5" BEL "XLXI_6/DATAIL_4" BEL
        "XLXI_6/DATAIL_3" BEL "XLXI_6/DATAIL_2" BEL "XLXI_6/DATAIL_1" BEL
        "XLXI_6/DATAIL_0" BEL "XLXI_4/BUTTON_O_4" BEL "XLXI_4/BUTTON_O_3" BEL
        "XLXI_4/BUTTON_O_2" BEL "XLXI_4/BUTTON_O_1" BEL "XLXI_4/BUTTON_O_0"
        BEL "XLXI_4/shift_0_4" BEL "XLXI_4/shift_0_3" BEL "XLXI_4/shift_0_2"
        BEL "XLXI_4/shift_0_1" BEL "XLXI_4/shift_0_0" BEL "XLXI_4/shift_4_4"
        BEL "XLXI_4/shift_4_3" BEL "XLXI_4/shift_4_2" BEL "XLXI_4/shift_4_1"
        BEL "XLXI_4/shift_4_0" BEL "XLXI_4/shift_3_4" BEL "XLXI_4/shift_3_3"
        BEL "XLXI_4/shift_3_2" BEL "XLXI_4/shift_3_1" BEL "XLXI_4/shift_3_0"
        BEL "XLXI_4/shift_2_4" BEL "XLXI_4/shift_2_3" BEL "XLXI_4/shift_2_2"
        BEL "XLXI_4/shift_2_1" BEL "XLXI_4/shift_2_0" BEL "XLXI_4/shift_1_4"
        BEL "XLXI_4/shift_1_3" BEL "XLXI_4/shift_1_2" BEL "XLXI_4/shift_1_1"
        BEL "XLXI_4/shift_1_0" BEL "XLXI_5/adcnt_7" BEL "XLXI_5/adcnt_6" BEL
        "XLXI_5/adcnt_5" BEL "XLXI_5/adcnt_4" BEL "XLXI_5/adcnt_3" BEL
        "XLXI_5/adcnt_2" BEL "XLXI_5/adcnt_1" BEL "XLXI_5/adcnt_0" BEL
        "XLXI_5/output_l" BEL "XLXI_5/output_r" BEL "XLXI_5/input_l_o_11" BEL
        "XLXI_5/input_l_o_10" BEL "XLXI_5/input_l_o_9" BEL
        "XLXI_5/input_l_o_8" BEL "XLXI_5/input_l_o_7" BEL "XLXI_5/input_l_o_6"
        BEL "XLXI_5/input_l_o_5" BEL "XLXI_5/input_l_o_4" BEL
        "XLXI_5/input_l_o_3" BEL "XLXI_5/input_l_o_2" BEL "XLXI_5/input_l_o_1"
        BEL "XLXI_5/input_l_o_0" BEL "XLXI_5/output_r_i_15" BEL
        "XLXI_5/output_r_i_14" BEL "XLXI_5/output_r_i_13" BEL
        "XLXI_5/output_r_i_12" BEL "XLXI_5/output_r_i_11" BEL
        "XLXI_5/output_r_i_10" BEL "XLXI_5/output_r_i_9" BEL
        "XLXI_5/output_r_i_8" BEL "XLXI_5/output_r_i_7" BEL
        "XLXI_5/output_r_i_6" BEL "XLXI_5/output_r_i_5" BEL
        "XLXI_5/output_r_i_4" BEL "XLXI_5/output_r_i_3" BEL
        "XLXI_5/output_r_i_2" BEL "XLXI_5/output_r_i_1" BEL
        "XLXI_5/output_r_i_0" BEL "XLXI_5/output_l_i_15" BEL
        "XLXI_5/output_l_i_14" BEL "XLXI_5/output_l_i_13" BEL
        "XLXI_5/output_l_i_12" BEL "XLXI_5/output_l_i_11" BEL
        "XLXI_5/output_l_i_10" BEL "XLXI_5/output_l_i_9" BEL
        "XLXI_5/output_l_i_8" BEL "XLXI_5/output_l_i_7" BEL
        "XLXI_5/output_l_i_6" BEL "XLXI_5/output_l_i_5" BEL
        "XLXI_5/output_l_i_4" BEL "XLXI_5/output_l_i_3" BEL
        "XLXI_5/output_l_i_2" BEL "XLXI_5/output_l_i_1" BEL
        "XLXI_5/output_l_i_0" BEL "XLXI_5/input_r_o_11" BEL
        "XLXI_5/input_r_o_10" BEL "XLXI_5/input_r_o_9" BEL
        "XLXI_5/input_r_o_8" BEL "XLXI_5/input_r_o_7" BEL "XLXI_5/input_r_o_6"
        BEL "XLXI_5/input_r_o_5" BEL "XLXI_5/input_r_o_4" BEL
        "XLXI_5/input_r_o_3" BEL "XLXI_5/input_r_o_2" BEL "XLXI_5/input_r_o_1"
        BEL "XLXI_5/input_r_o_0" BEL "XLXI_5/input_l_11" BEL
        "XLXI_5/input_l_10" BEL "XLXI_5/input_l_9" BEL "XLXI_5/input_l_8" BEL
        "XLXI_5/input_l_7" BEL "XLXI_5/input_l_6" BEL "XLXI_5/input_l_5" BEL
        "XLXI_5/input_l_4" BEL "XLXI_5/input_l_3" BEL "XLXI_5/input_l_2" BEL
        "XLXI_5/input_l_1" BEL "XLXI_5/input_l_0" BEL "XLXI_5/input_r_11" BEL
        "XLXI_5/input_r_10" BEL "XLXI_5/input_r_9" BEL "XLXI_5/input_r_8" BEL
        "XLXI_5/input_r_7" BEL "XLXI_5/input_r_6" BEL "XLXI_5/input_r_5" BEL
        "XLXI_5/input_r_4" BEL "XLXI_5/input_r_3" BEL "XLXI_5/input_r_2" BEL
        "XLXI_5/input_r_1" BEL "XLXI_5/input_r_0" BEL "XLXI_5/datmp" BEL
        "XLXI_5/DACS_O" BEL "XLXI_5/ADCS_O" BEL "XLXI_1/VOL_7" BEL
        "XLXI_1/VOL_6" BEL "XLXI_1/VOL_5" BEL "XLXI_1/VOL_4" BEL
        "XLXI_1/VOL_3" BEL "XLXI_1/VOL_2" BEL "XLXI_1/VOL_1" BEL
        "XLXI_1/SPEED_I_11" BEL "XLXI_1/SPEED_I_10" BEL "XLXI_1/SPEED_I_9" BEL
        "XLXI_1/SPEED_I_8" BEL "XLXI_1/SPEED_I_7" BEL "XLXI_1/SPEED_I_6" BEL
        "XLXI_1/SPEED_I_4" BEL "XLXI_1/SPEED_I_3" BEL "XLXI_1/SPEED_I_5" BEL
        "XLXI_1/SPEED_I_2" BEL "XLXI_1/SPEED_I_1" BEL
        "XLXI_1/CURRENT_STATE_FSM_FFd1" BEL "XLXI_1/CURRENT_STATE_FSM_FFd2"
        BEL "XLXI_1/CURRENT_STATE_FSM_FFd3" BEL "XLXI_1/LED_I_3" BEL
        "XLXI_1/LED_I_2" BEL "XLXI_1/LED_I_1" BEL "XLXI_1/LED_I_0" BEL
        "XLXI_1/BCD_02_I_4" BEL "XLXI_1/BCD_02_I_3" BEL "XLXI_1/BCD_02_I_2"
        BEL "XLXI_1/BCD_02_I_1" BEL "XLXI_1/BCD_02_I_0" BEL
        "XLXI_1/BCD_01_I_4" BEL "XLXI_1/BCD_01_I_3" BEL "XLXI_1/BCD_01_I_2"
        BEL "XLXI_1/BCD_01_I_1" BEL "XLXI_1/BCD_01_I_0" BEL
        "XLXI_1/BCD_04_I_4" BEL "XLXI_1/BCD_04_I_3" BEL "XLXI_1/BCD_04_I_2"
        BEL "XLXI_1/BCD_04_I_1" BEL "XLXI_1/BCD_04_I_0" BEL
        "XLXI_1/BCD_03_I_4" BEL "XLXI_1/BCD_03_I_3" BEL "XLXI_1/BCD_03_I_2"
        BEL "XLXI_1/BCD_03_I_1" BEL "XLXI_1/BCD_03_I_0" BEL
        "XLXI_3/INT_COUNT_1" BEL "XLXI_3/INT_COUNT_0" BEL "XLXI_6/CE_I" BEL
        "XLXI_6/WE_I" BEL "XLXI_1/REVERSE_I" BEL "XLXI_1/REC_I" BEL
        "XLXI_1/PLAY_I" BEL "XLXI_6/CURRENT_STATE_FSM_FFd1" BEL
        "XLXI_6/RESET_I_CLK_I_DFF_111" BEL "XLXI_6/OE_I" BEL
        "XLXI_1/REVERSE_I_1" BEL "XLXI_1/REVERSE_I_2" BEL "XLXI_1/PLAY_I_1"
        BEL "clk_I_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

