//! **************************************************************************
// Written by: Map P.49d on Wed May 20 16:24:09 2015
//! **************************************************************************

SCHEMATIC START;
COMP "DP" LOCATE = SITE "M13" LEVEL 1;
COMP "adcs" LOCATE = SITE "G11" LEVEL 1;
COMP "dacs" LOCATE = SITE "T12" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "Reset" LOCATE = SITE "T10" LEVEL 1;
COMP "adclk" LOCATE = SITE "E11" LEVEL 1;
COMP "daclk" LOCATE = SITE "P11" LEVEL 1;
COMP "clk_I" LOCATE = SITE "V10" LEVEL 1;
COMP "addata_l" LOCATE = SITE "F10" LEVEL 1;
COMP "addata_r" LOCATE = SITE "F11" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "Led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "Led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "Led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "Led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "dadata_l" LOCATE = SITE "V12" LEVEL 1;
COMP "dadata_r" LOCATE = SITE "N10" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "B8" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "A8" LEVEL 1;
COMP "btn<2>" LOCATE = SITE "C4" LEVEL 1;
COMP "btn<3>" LOCATE = SITE "C9" LEVEL 1;
COMP "btn<4>" LOCATE = SITE "D9" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "XLXI_2/INT_400" BEL "XLXI_2/INT_48" BEL
        "XLXI_2/INT_COUNT_400_0" BEL "XLXI_2/INT_COUNT_400_1" BEL
        "XLXI_2/INT_COUNT_400_2" BEL "XLXI_2/INT_COUNT_400_3" BEL
        "XLXI_2/INT_COUNT_400_4" BEL "XLXI_2/INT_COUNT_400_5" BEL
        "XLXI_2/INT_COUNT_400_6" BEL "XLXI_4/BUTTON_O_4" BEL
        "XLXI_4/BUTTON_O_3" BEL "XLXI_4/BUTTON_O_2" BEL "XLXI_4/BUTTON_O_1"
        BEL "XLXI_4/BUTTON_O_0" BEL "XLXI_4/shift_0_4" BEL "XLXI_4/shift_0_3"
        BEL "XLXI_4/shift_0_2" BEL "XLXI_4/shift_0_1" BEL "XLXI_4/shift_0_0"
        BEL "XLXI_4/shift_4_4" BEL "XLXI_4/shift_4_3" BEL "XLXI_4/shift_4_2"
        BEL "XLXI_4/shift_4_1" BEL "XLXI_4/shift_4_0" BEL "XLXI_4/shift_3_4"
        BEL "XLXI_4/shift_3_3" BEL "XLXI_4/shift_3_2" BEL "XLXI_4/shift_3_1"
        BEL "XLXI_4/shift_3_0" BEL "XLXI_4/shift_2_4" BEL "XLXI_4/shift_2_3"
        BEL "XLXI_4/shift_2_2" BEL "XLXI_4/shift_2_1" BEL "XLXI_4/shift_2_0"
        BEL "XLXI_4/shift_1_4" BEL "XLXI_4/shift_1_3" BEL "XLXI_4/shift_1_2"
        BEL "XLXI_4/shift_1_1" BEL "XLXI_4/shift_1_0" BEL "XLXI_5/adcnt_7" BEL
        "XLXI_5/adcnt_6" BEL "XLXI_5/adcnt_5" BEL "XLXI_5/adcnt_4" BEL
        "XLXI_5/adcnt_3" BEL "XLXI_5/adcnt_2" BEL "XLXI_5/adcnt_1" BEL
        "XLXI_5/adcnt_0" BEL "XLXI_5/output_l" BEL "XLXI_5/output_r" BEL
        "XLXI_5/input_l_o_11" BEL "XLXI_5/input_l_o_10" BEL
        "XLXI_5/input_l_o_9" BEL "XLXI_5/input_l_o_8" BEL "XLXI_5/input_l_o_7"
        BEL "XLXI_5/input_l_o_6" BEL "XLXI_5/input_l_o_5" BEL
        "XLXI_5/input_l_o_4" BEL "XLXI_5/input_l_o_3" BEL "XLXI_5/input_l_o_2"
        BEL "XLXI_5/input_l_o_1" BEL "XLXI_5/input_l_o_0" BEL
        "XLXI_5/output_r_i_15" BEL "XLXI_5/output_r_i_14" BEL
        "XLXI_5/output_r_i_13" BEL "XLXI_5/output_r_i_12" BEL
        "XLXI_5/output_r_i_11" BEL "XLXI_5/output_r_i_10" BEL
        "XLXI_5/output_r_i_9" BEL "XLXI_5/output_r_i_8" BEL
        "XLXI_5/output_r_i_7" BEL "XLXI_5/output_r_i_6" BEL
        "XLXI_5/output_r_i_5" BEL "XLXI_5/output_r_i_4" BEL
        "XLXI_5/output_r_i_3" BEL "XLXI_5/output_r_i_2" BEL
        "XLXI_5/output_r_i_1" BEL "XLXI_5/output_r_i_0" BEL
        "XLXI_5/output_l_i_15" BEL "XLXI_5/output_l_i_14" BEL
        "XLXI_5/output_l_i_13" BEL "XLXI_5/output_l_i_12" BEL
        "XLXI_5/output_l_i_11" BEL "XLXI_5/output_l_i_10" BEL
        "XLXI_5/output_l_i_9" BEL "XLXI_5/output_l_i_8" BEL
        "XLXI_5/output_l_i_7" BEL "XLXI_5/output_l_i_6" BEL
        "XLXI_5/output_l_i_5" BEL "XLXI_5/output_l_i_4" BEL
        "XLXI_5/output_l_i_3" BEL "XLXI_5/output_l_i_2" BEL
        "XLXI_5/output_l_i_1" BEL "XLXI_5/output_l_i_0" BEL
        "XLXI_5/input_r_o_11" BEL "XLXI_5/input_r_o_10" BEL
        "XLXI_5/input_r_o_9" BEL "XLXI_5/input_r_o_8" BEL "XLXI_5/input_r_o_7"
        BEL "XLXI_5/input_r_o_6" BEL "XLXI_5/input_r_o_5" BEL
        "XLXI_5/input_r_o_4" BEL "XLXI_5/input_r_o_3" BEL "XLXI_5/input_r_o_2"
        BEL "XLXI_5/input_r_o_1" BEL "XLXI_5/input_r_o_0" BEL "XLXI_5/datmp"
        BEL "XLXI_5/DACS_O" BEL "XLXI_5/ADCS_O" BEL "XLXI_1/VOL_7" BEL
        "XLXI_1/VOL_6" BEL "XLXI_1/VOL_5" BEL "XLXI_1/VOL_4" BEL
        "XLXI_1/VOL_3" BEL "XLXI_1/VOL_2" BEL "XLXI_1/VOL_1" BEL
        "XLXI_1/VOL_0" BEL "XLXI_1/SPEED_I_7" BEL "XLXI_1/SPEED_I_6" BEL
        "XLXI_1/SPEED_I_5" BEL "XLXI_1/SPEED_I_4" BEL "XLXI_1/SPEED_I_3" BEL
        "XLXI_1/SPEED_I_2" BEL "XLXI_1/SPEED_I_1" BEL "XLXI_1/SPEED_I_0" BEL
        "XLXI_1/CURRENT_STATE_FSM_FFd1" BEL "XLXI_1/CURRENT_STATE_FSM_FFd2"
        BEL "XLXI_1/CURRENT_STATE_FSM_FFd3" BEL "XLXI_1/LED_I_3" BEL
        "XLXI_1/LED_I_2" BEL "XLXI_1/LED_I_1" BEL "XLXI_1/LED_I_0" BEL
        "XLXI_1/BCD_02_I_4" BEL "XLXI_1/BCD_02_I_3" BEL "XLXI_1/BCD_02_I_2"
        BEL "XLXI_1/BCD_02_I_1" BEL "XLXI_1/BCD_02_I_0" BEL
        "XLXI_1/BCD_01_I_4" BEL "XLXI_1/BCD_01_I_3" BEL "XLXI_1/BCD_01_I_2"
        BEL "XLXI_1/BCD_01_I_1" BEL "XLXI_1/BCD_01_I_0" BEL
        "XLXI_1/BCD_04_I_4" BEL "XLXI_1/BCD_04_I_3" BEL "XLXI_1/BCD_04_I_2"
        BEL "XLXI_1/BCD_04_I_1" BEL "XLXI_1/BCD_04_I_0" BEL
        "XLXI_1/BCD_03_I_4" BEL "XLXI_1/BCD_03_I_3" BEL "XLXI_1/BCD_03_I_2"
        BEL "XLXI_1/BCD_03_I_1" BEL "XLXI_1/BCD_03_I_0" BEL
        "XLXI_1/DABUS_R_I_11" BEL "XLXI_1/DABUS_R_I_10" BEL
        "XLXI_1/DABUS_R_I_9" BEL "XLXI_1/DABUS_R_I_8" BEL "XLXI_1/DABUS_R_I_7"
        BEL "XLXI_1/DABUS_R_I_6" BEL "XLXI_1/DABUS_R_I_5" BEL
        "XLXI_1/DABUS_R_I_4" BEL "XLXI_1/DABUS_R_I_3" BEL "XLXI_1/DABUS_R_I_2"
        BEL "XLXI_1/DABUS_R_I_1" BEL "XLXI_1/DABUS_R_I_0" BEL
        "XLXI_1/DABUS_L_I_11" BEL "XLXI_1/DABUS_L_I_10" BEL
        "XLXI_1/DABUS_L_I_9" BEL "XLXI_1/DABUS_L_I_8" BEL "XLXI_1/DABUS_L_I_7"
        BEL "XLXI_1/DABUS_L_I_6" BEL "XLXI_1/DABUS_L_I_5" BEL
        "XLXI_1/DABUS_L_I_4" BEL "XLXI_1/DABUS_L_I_3" BEL "XLXI_1/DABUS_L_I_2"
        BEL "XLXI_1/DABUS_L_I_1" BEL "XLXI_1/DABUS_L_I_0" BEL
        "XLXI_3/INT_COUNT_1" BEL "XLXI_3/INT_COUNT_0" BEL "XLXI_1/PLAY_I" BEL
        "XLXI_5/input_l_11" BEL "XLXI_5/input_l_10" BEL "XLXI_5/input_l_9" BEL
        "XLXI_5/input_l_8" BEL "XLXI_5/input_l_7" BEL "XLXI_5/input_l_6" BEL
        "XLXI_5/input_l_5" BEL "XLXI_5/input_l_4" BEL "XLXI_5/input_l_3" BEL
        "XLXI_5/input_l_2" BEL "XLXI_5/input_l_1" BEL "XLXI_5/input_l_0" BEL
        "XLXI_5/input_r_11" BEL "XLXI_5/input_r_10" BEL "XLXI_5/input_r_9" BEL
        "XLXI_5/input_r_8" BEL "XLXI_5/input_r_7" BEL "XLXI_5/input_r_6" BEL
        "XLXI_5/input_r_5" BEL "XLXI_5/input_r_4" BEL "XLXI_5/input_r_3" BEL
        "XLXI_5/input_r_2" BEL "XLXI_5/input_r_1" BEL "XLXI_5/input_r_0" BEL
        "XLXI_5/adcnt_2_1" BEL "XLXI_5/adcnt_1_1" BEL "XLXI_2/INT_COUNT_48_0"
        BEL "XLXI_2/INT_COUNT_48_1" BEL "XLXI_2/INT_COUNT_48_2" BEL
        "XLXI_2/INT_COUNT_48_3" BEL "XLXI_2/INT_COUNT_48_4" BEL
        "XLXI_2/INT_COUNT_48_5" BEL "XLXI_2/INT_COUNT_48_6" BEL
        "XLXI_2/INT_COUNT_48_7" BEL "XLXI_2/INT_COUNT_48_8" BEL
        "XLXI_2/INT_COUNT_48_9" BEL "XLXI_2/INT_COUNT_48_10" BEL
        "XLXI_2/INT_COUNT_48_11" BEL "XLXI_4/BUTTON_O_2_1" BEL
        "XLXI_4/BUTTON_O_0_1" BEL "XLXI_4/BUTTON_O_4_1" BEL
        "XLXI_4/BUTTON_O_2_2" BEL "XLXI_4/BUTTON_O_0_2" BEL "XLXI_5/adcnt_2_2"
        BEL "XLXI_4/BUTTON_O_1_1" BEL "XLXI_4/BUTTON_O_3_1" BEL
        "clk_I_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

