//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 22 17:50:16 2015
//! **************************************************************************

SCHEMATIC START;
COMP "Led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "Led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "Led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "Led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "B8" LEVEL 1;
COMP "clk_I" LOCATE = SITE "V10" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "A8" LEVEL 1;
COMP "btn<2>" LOCATE = SITE "C4" LEVEL 1;
COMP "DP" LOCATE = SITE "M13" LEVEL 1;
COMP "btn<3>" LOCATE = SITE "C9" LEVEL 1;
COMP "btn<4>" LOCATE = SITE "D9" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "Reset" LOCATE = SITE "T10" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "U15" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "XLXI_2/INT_400" BEL "XLXI_2/INT_48" BEL
        "XLXI_2/INT_COUNT_400_0" BEL "XLXI_2/INT_COUNT_400_1" BEL
        "XLXI_2/INT_COUNT_400_2" BEL "XLXI_2/INT_COUNT_400_3" BEL
        "XLXI_2/INT_COUNT_400_4" BEL "XLXI_2/INT_COUNT_400_5" BEL
        "XLXI_2/INT_COUNT_400_6" BEL "XLXI_4/BUTTON_O_4" BEL
        "XLXI_4/BUTTON_O_3" BEL "XLXI_4/BUTTON_O_2" BEL "XLXI_4/BUTTON_O_1"
        BEL "XLXI_4/BUTTON_O_0" BEL "XLXI_4/shift_0_4" BEL "XLXI_4/shift_0_3"
        BEL "XLXI_4/shift_0_2" BEL "XLXI_4/shift_0_1" BEL "XLXI_4/shift_0_0"
        BEL "XLXI_4/shift_4_4" BEL "XLXI_4/shift_4_3" BEL "XLXI_4/shift_4_2"
        BEL "XLXI_4/shift_4_1" BEL "XLXI_4/shift_4_0" BEL "XLXI_4/shift_3_4"
        BEL "XLXI_4/shift_3_3" BEL "XLXI_4/shift_3_2" BEL "XLXI_4/shift_3_1"
        BEL "XLXI_4/shift_3_0" BEL "XLXI_4/shift_2_4" BEL "XLXI_4/shift_2_3"
        BEL "XLXI_4/shift_2_2" BEL "XLXI_4/shift_2_1" BEL "XLXI_4/shift_2_0"
        BEL "XLXI_4/shift_1_4" BEL "XLXI_4/shift_1_3" BEL "XLXI_4/shift_1_2"
        BEL "XLXI_4/shift_1_1" BEL "XLXI_4/shift_1_0" BEL "XLXI_1/VOL_7" BEL
        "XLXI_1/VOL_6" BEL "XLXI_1/VOL_5" BEL "XLXI_1/VOL_4" BEL
        "XLXI_1/VOL_3" BEL "XLXI_1/VOL_2" BEL "XLXI_1/VOL_1" BEL
        "XLXI_1/VOL_0" BEL "XLXI_1/SPEED_I_7" BEL "XLXI_1/SPEED_I_6" BEL
        "XLXI_1/SPEED_I_5" BEL "XLXI_1/SPEED_I_4" BEL "XLXI_1/SPEED_I_3" BEL
        "XLXI_1/SPEED_I_2" BEL "XLXI_1/SPEED_I_1" BEL "XLXI_1/SPEED_I_0" BEL
        "XLXI_1/CURRENT_STATE_FSM_FFd1" BEL "XLXI_1/CURRENT_STATE_FSM_FFd2"
        BEL "XLXI_1/CURRENT_STATE_FSM_FFd3" BEL "XLXI_1/LED_I_3" BEL
        "XLXI_1/LED_I_2" BEL "XLXI_1/LED_I_1" BEL "XLXI_1/LED_I_0" BEL
        "XLXI_1/BCD_04_I_4" BEL "XLXI_1/BCD_04_I_3" BEL "XLXI_1/BCD_04_I_2"
        BEL "XLXI_1/BCD_04_I_1" BEL "XLXI_1/BCD_04_I_0" BEL
        "XLXI_1/BCD_03_I_4" BEL "XLXI_1/BCD_03_I_2" BEL "XLXI_1/BCD_03_I_1"
        BEL "XLXI_1/BCD_03_I_0" BEL "XLXI_1/BCD_02_I_4" BEL
        "XLXI_1/BCD_02_I_3" BEL "XLXI_1/BCD_02_I_2" BEL "XLXI_1/BCD_02_I_1"
        BEL "XLXI_1/BCD_02_I_0" BEL "XLXI_1/BCD_01_I_4" BEL
        "XLXI_1/BCD_01_I_3" BEL "XLXI_1/BCD_01_I_2" BEL "XLXI_1/BCD_01_I_1"
        BEL "XLXI_1/BCD_01_I_0" BEL "XLXI_3/INT_COUNT_1" BEL
        "XLXI_3/INT_COUNT_0" BEL "XLXI_4/BUTTON_O_2_1" BEL
        "XLXI_4/BUTTON_O_0_1" BEL "XLXI_4/BUTTON_O_4_1" BEL
        "XLXI_4/BUTTON_O_1_1" BEL "XLXI_4/BUTTON_O_3_1" BEL
        "XLXI_2/INT_COUNT_48_0" BEL "XLXI_2/INT_COUNT_48_1" BEL
        "XLXI_2/INT_COUNT_48_2" BEL "XLXI_2/INT_COUNT_48_3" BEL
        "XLXI_2/INT_COUNT_48_4" BEL "XLXI_2/INT_COUNT_48_5" BEL
        "XLXI_2/INT_COUNT_48_6" BEL "XLXI_2/INT_COUNT_48_7" BEL
        "XLXI_2/INT_COUNT_48_8" BEL "XLXI_2/INT_COUNT_48_9" BEL
        "XLXI_2/INT_COUNT_48_10" BEL "XLXI_2/INT_COUNT_48_11" BEL
        "XLXI_4/BUTTON_O_4_2" BEL "XLXI_4/BUTTON_O_0_2" BEL
        "XLXI_4/BUTTON_O_2_2" BEL "XLXI_1/CURRENT_STATE_FSM_FFd2_1" BEL
        "XLXI_4/BUTTON_O_3_2" BEL "XLXI_4/BUTTON_O_4_3" BEL
        "XLXI_4/BUTTON_O_0_3" BEL "XLXI_1/CURRENT_STATE_FSM_FFd1_1" BEL
        "XLXI_4/BUTTON_O_1_2" BEL "XLXI_4/BUTTON_O_2_3" BEL
        "clk_I_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

